
.body-article {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px solid #C93938;
  margin-top: 60px;
}


.article-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}


.article_time {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 30px;
  color: #B2B1B1;
  text-align: center;
}


.article-part-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}


.article_text {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 25px;
}

.article-ul {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 16px;
  margin-left: 7%;
  margin-bottom: 25px;
}

.article-ul li {
  margin-bottom: 15px;
}

.article-highlight {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-size: 16px;
  color: #C93938;
}

.article_text_origin {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 25px;
  color: #B2B1B1;
}

.article_text_origin a {
  text-decoration: none;
  color: #B2B1B1;
  font-weight: 600;
}
