
.article-list-box {
  margin-top: 40px;
}

.article-list-box--title {
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
  letter-spacing: 0.3px;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 7px;
}

.article-list-box a {
  text-decoration: none;
  color: black;
}

.article-list-box--time {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 15px;
  color: #B2B1B1;
  margin-bottom: 30px;
}


.article-list-box--date {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 15px;
  color: #B2B1B1;
  margin-bottom: 15px;
}

.article-list-box--preview {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 10px;
}


.article-list-box--line {
  border: 1px solid #C93938;
}















/* d */
