
/* стили и элементы */

/* цвета */

/* красный - #C93938 */
/* серый рамки главная - #DDDDDD */

/* стили шрифта */

/* font-family: 'Lato', sans-serif;
line-height: 1.6;
letter-spacing: 0.3px;
font-weight: 300; */



/* highlighted text */
<span class="article-highlight"></span>
