.mob-menu-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99;
}

.mob-menu-links-box {
  background: #fff;
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  /* border: 1px solid gray; */
  width: 65%;
  height: 320px;
}

.mob-menu-links-box--list {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  letter-spacing: 0.3px;
  font-weight: 500;
  font-size: 22px;

  list-style: none;
  text-align: center;
  margin-top: 40%;
}


.mob-menu-links-box--list a {
  text-decoration: none;
  color: #C93938;
}


.mob-menu-links-box--list li {
 margin-bottom: 15px;
}

.mob-menu-close-icon {
  color: #C93938;
  font-size: 40px;
  position: absolute;
  top: 5px;
  right: 25px;
}
