@media only screen and (max-width: 2500px) {

  /* блок ширины статьи */
  .body-article {
    width: 600px;
  }

  /* блок со списком всех статей */
  .all-articles-section {
    width: 600px;
  }

}




@media only screen and (max-width: 1100px) {

  /* main page */
  .main-section {
    width: 90%;
  }

  .main-section--recent-articles-box--card {
    min-height: 400px;
    padding: 3%;
  }

  /* navbar */
  .mob-menu {
    display: block;
  }

  .menu-list {
   display: none;
  }

  .recent-article {
    width: 100%;
  }

  /* article page */
  .body-article {
    width: 90%;
  }

  .article-part-title {
    font-weight: 500;
  }

  .article_text {
    font-weight: 300;
  }

  .article_time {
    font-weight: 400;
  }

  /* блок подписки */
  .subscribe-box {
    width: 100%;
    height: 180px;
    padding-top: 35px;
  }

  .btn {
    margin-top: 10px;
  }

  /* страница всех статей */

  .all-articles-section {
    width: 90%;
  }



  /* ссылка на все статьи */

  .btn-link-all-articles {
    width: 65%;
    margin-left: 17%;
  }

  .btn-link-all-articles:hover {
    width: 65%;
    margin-left: 17%;
  }


  /* футер */

  footer {
    padding-top: 15px;
  }

  /* подпись в футере */

  .footer-text-block {
    font-size: 13px;
  }


}
