.logo-center-box {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  .logo-center-box--logo-png {
    width: 75px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}


  // <p class="section-article--articleContent"></p>


  // <span class="section-article---highlight"></span>
