.section-home {
  font-family: 'Lato', sans-serif;

  &--main-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: center;
  }


  &--main-intro {
    line-height: 1.6;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 19px;
    margin-bottom: 60px;
    text-align: center;
  }


  &--recent-article {

    &-title {
      line-height: 1.6;
      letter-spacing: 0.3px;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
    }

    &-name {
      line-height: 1.6;
      letter-spacing: 0.3px;
      font-weight: 500;
      font-size: 25px;
      text-align: center;
      margin-bottom: 10px;
      color: #C93938;
    }

    &-name-a {
      text-decoration: none;
    }

    &-date {
      line-height: 1.6;
      letter-spacing: 0.3px;
      font-weight: 300;
      font-size: 15px;
      text-align: center;
      color: #B2B1B1;
      margin-bottom: 10px;
    }

    &-preview {
      font-family: 'Lato', sans-serif;
      line-height: 1.6;
      letter-spacing: 0.3px;
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 25px;
      text-align: left;
    }

  }

}


.section-all-articles {

  &--article-box {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.6;

    &--title {
      line-height: 1.3;
      font-weight: 500;
      font-size: 25px;
      margin-bottom: 7px;
    }

    & a {
      text-decoration: none;
      color: black;
    }

    &--time {
      font-weight: 300;
      font-size: 15px;
      color: #B2B1B1;
      margin-bottom: 30px;
    }

    &--date {
      font-weight: 300;
      font-size: 15px;
      color: #B2B1B1;
      margin-bottom: 15px;
    }

    &--preview {
      font-weight: 300;
      font-size: 16px;
      margin-bottom: 10px;
    }

  }


}



.section-article {

  &--articleName {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  &--articleTime {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
    color: #B2B1B1;
    text-align: center;
  }

  &--articleContent {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &--subHeading {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &---highlight {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.3px;
    font-weight: 400;
    font-size: 16px;
    color: #C93938;
  }

  &--articleUl {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 16px;
    margin-left: 7%;
    margin-bottom: 25px;

    & li {
      margin-bottom: 15px;
    }
  }

  &--originLink {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    letter-spacing: 0.3px;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 25px;
    color: #B2B1B1;

    & a {
      text-decoration: none;
      color: #B2B1B1;
      font-weight: 600;
    }
  }

}






















// .
